footer {
    background-color: #353535;
    padding: 2rem;

    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    .menu__footer {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        @include desktop {
            flex-direction: row;
        }
    }
    
    .footer__menu {
        padding: 0;

        @include desktop {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    .styled--title {
        color: white;
        font-weight: 700;
        font-size: larger;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

        li {
            list-style-type: none;
            margin-bottom: 10px;

            @include desktop {
                display: inline-block;
                margin-right: 1rem;
            }
        }

        i {
            opacity: 1;
            margin-right: 10px;
        }
}