header {
    @extend .flex_center;
    padding: 2rem 1rem 1rem 1rem;
    
    img {
        width: 30%;
    }

    i {
        position: relative;
        right: 4rem;
    }

    a {
        color: black;
    }
}