.menu {
    background-color: whitesmoke;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    position: relative;
    z-index: 1;
    padding: 1rem;
}

.background__menu img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.starting--one,
.starting--two,
.starting--three,
.dish--one,
.dish--two,
.dish--three,
.dessert--one,
.dessert--two,
.dessert--three {
    border: 1px solid red;
}
