:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;

    --main-color-lighter: lighten((var(--main-color)), 80%);
    --third-color-darker: darken((var(--third-color)), 40%);
}